// Mixins

.border_radius(@radius:10px) {
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}

.clearfix() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}


// Style

ul.accepted-payment-methods {
	.clearfix;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	list-style: none;
	li {
		padding-left:0;
		margin-left:0;
		list-style: none;
		display:inline;
		margin-right:0;
		span {
			display: inline-block;
			padding:4px;
			background: none;
			.border_radius(3px);
			width:64px;
			height:64px;
			text-align: left;
			text-indent: -999em;
			background-position:4px 4px;
			background-repeat: no-repeat;
			}
		&.american-express span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -6px;
		}
		&.bitcoin span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -90px;
		}
		&.cash-on-delivery span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -174px;
		}
		&.discover span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -258px;
		}
		&.google span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -342px;
		}
		&.maestro span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -426px;
		}
		&.mastercard span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -510px;
		}
		&.paypal span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -594px;
		}
		&.visa span {
			width:64px;
			background-image: url(../images/logos-sprite.png);
			background-position: -6px -678px;
		}
	}
}

// retina logos
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

	ul.accepted-payment-methods {
		li.american-express span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -16px;
		}
		li.bitcoin span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -248px;
		}
		li.cash-on-delivery span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -496px;
		}
		li.discover span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -728px;
		}
		li.google span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -960px;
		}
		li.maestro span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -1192px;
		}
		li.mastercard span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -1424px;
		}
		li.paypal span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -1656px;
		}
		li.visa span {
			background-image: url(../images/logos-sprite@2x.png);
			background-size: 64px 64px;
      background-position: -16px -1888px;
		}
	}
}
