@import url(mixins.less);

ul.accepted-payment-methods {
	.clearfix;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	list-style: none;
	li {
		padding-left:0;
		margin-left:0;
		list-style: none;
		display:inline;
		margin-right:.5em;
		span {
			display: inline-block;
			padding:4px;
			background: #fff;
			.border_radius(3px);
			width:50px;
			height:16px;
			text-align: left;
			text-indent: -999em;
			background-position:4px 4px;
			background-repeat: no-repeat;
		}
		&.visa span {
			background-image: url(../images/visa.png);
		}
		&.paypal span {
			width:61px;
			background-image: url(../images/paypal.png);
		}
		&.mastercard span {
			width:26px;
			background-image: url(../images/mastercard.png);
		}
		&.google span {
			width:77px;
			background-image: url(../images/google.png);
		}
		&.american-express span {
			width:18px;
			background-image: url(../images/amex.png);
		}
	}
}

// retina logos
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
  
	ul.accepted-payment-methods {
		li.visa span {
			background-image: url(../images/visa@x2.png);
			background-size: 50px 16px;
		}
		li.paypal span {
			background-image: url(../images/paypal@x2.png);
			background-size: 61px 16px;
		}
		li.mastercard span {
			background-image: url(../images/mastercard@x2.png);
			background-size: 26px 16px;
		}
		li.google span {
			background-image: url(../images/google@x2.png);
			background-size: 77px 16px;
		}
		li.american-express span {
			background-image: url(../images/amex@x2.png);
			background-size: 18px 16px;
		}
	}

}